<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../static/img/favicon.png" />
	<title>Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/paper-bootstrap-wizard"/>

    <meta name="keywords" content="wizard, bootstrap wizard, creative tim, long forms, 3 step wizard, sign up wizard, beautiful wizard, long forms wizard, wizard with validation, paper design, paper wizard bootstrap, bootstrap paper wizard">
    <meta name="description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Paper Bootstrap Wizard by Creative Tim">
    <meta itemprop="description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">
    <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Paper Bootstrap Wizard by Creative Tim">
    <meta name="twitter:description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Paper Bootstrap Wizard by Creative Tim | Free Boostrap Wizard" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/paper-bootstrap-wizard/wizard-list-place.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg" />
    <meta property="og:description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors." />
    <meta property="og:site_name" content="Creative Tim" />

	<!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/css/paper-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="../static/css/demo.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="../static/css/themify-icons.css" rel="stylesheet">

	<style>
		.nombreSistema {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 50%;
	}


	
	</style>


	</head>

	<body>

		
	
	<div class="image-container set-full-height" style="background-image: url('../static/img/paper-1.jpeg')">
	    <!--   Creative Tim Branding   -->
		
			
	  
	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="orange" id="wizardProfile">
		                    <form action="" method="">
		                    	<div class="wizard-header text-center">
		                        	<h3 class="wizard-title">¡Bienvenido al Sistema de Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos!</h3>
									<p> </p>
									<p class="category">Por favor, crea una cuenta o inicia sesión.</p>
		                    	</div>

								<div class="wizard-navigation">
									<div class="progress-with-circle">
									     <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
									</div>
									<ul>
			                            <li>
											<a href="#login" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-user"></i>
												</div>
												<p style="white-space: nowrap;">Iniciar sesión</p>
											</a>
										</li>
			                            <li>
											<a href="#register" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-settings"></i>
												</div>
												<div>
													<p style="white-space: nowrap;">Crear cuenta</p>
												</div>
											</a>
										</li>
			                            
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <div class="tab-pane" id="login">
		                            	<div class="row">
											<div class="col-sm-10 d-flex col-sm-offset-1">

												<div class="form-group">
													<label>Correo Electrónico <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Por ejemplo: pepe@gmail.com" required>
												</div>

												<div class="form-group">
													<label>Contraseña <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Contraseña" required>
												</div>
				
											</div>
									
										</div>
										<div class="row" style="margin-top: 20px;">
											<div class="col-sm-10 d-flex col-sm-offset-1">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Iniciar sesión' />
											</div>
										</div>
										<div class="row">
											<div class="col-sm-5 d-flex col-sm-offset-1" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Google' />
											</div>
										
											<div class="col-sm-5 d-flex" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Outlook' />
											</div>
										</div>
										
		                            </div>


									<div class="tab-pane" id="register">
		                                <div class="row">
											<div class="col-sm-10 d-flex col-sm-offset-1">
								
												<div class="form-group">
													<label>Correo Electrónico <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Por ejemplo: pepe@gmail.com" required>
												</div>

												<div class="form-group">
													<label>Contraseña <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Contraseña" required>
												</div>
				
											</div>
									
										</div>
										<div class="row" style="margin-top: 20px;">
											<div class="col-sm-10 d-flex col-sm-offset-1">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Registrar' />
											</div>
										</div>
										<div class="row">
											<div class="col-sm-5 d-flex col-sm-offset-1" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Google' />
											</div>
										
											<div class="col-sm-5 d-flex" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Outlook' />
											</div>
										</div>
		                     
		                        </div>
		                        
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div><!-- end row -->
		</div> <!--  big container -->
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="../static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../static/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="../static/js/demo.js" type="text/javascript"></script>
	<script src="../static/js/paper-bootstrap-wizard.js" type="text/javascript"></script>

	<!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
	<script src="../static/js/jquery.validate.min.js" type="text/javascript"></script>

</html>
