<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}" />
	<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
	<title>Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

	<link th:href="@{/css/paper-bootstrap-wizard.css}" rel="stylesheet" />

	<!-- Fonts and Icons -->
	<link th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css?family=Muli:400,300}" rel='stylesheet' type='text/css'>
	<link th:href="@{/css/themify-icons.css}" rel="stylesheet">



	</head>

	<body>

	<div class="image-container set-full-height" style="background-image: url('../img/paper-1.jpeg')">
	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="orange" id="wizardProfile">
		                    <form action="" method="">
		                    	<div class="wizard-header text-center">
		                        	<h3 class="wizard-title">¡Bienvenido al Sistema de Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos!</h3>
									<p> </p>
									<p class="category">Por favor, crea una cuenta o inicia sesión.</p>
		                    	</div>

								<div class="wizard-navigation">
									<div class="progress-with-circle">
									     <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
									</div>
									<ul>
			                            <li>
											<a href="#login" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-user"></i>
												</div>
												<p style="white-space: nowrap;">Iniciar sesión</p>
											</a>
										</li>
			                            <li>
											<a href="#register" data-toggle="tab">
												<div class="icon-circle">
													<i class="ti-settings"></i>
												</div>
												<div>
													<p style="white-space: nowrap;">Crear cuenta</p>
												</div>
											</a>
										</li>
			                            
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <div class="tab-pane" id="login">
		                            	<div class="row">
											<div class="col-sm-10 d-flex col-sm-offset-1">

												<div class="form-group">
													<label>Correo Electrónico <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Por ejemplo: pepe@gmail.com" required>
												</div>

												<div class="form-group">
													<label>Contraseña <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Contraseña" required>
												</div>
				
											</div>
									
										</div>
										<div class="row" style="margin-top: 20px;">
											<div class="col-sm-10 d-flex col-sm-offset-1">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Iniciar sesión' />
											</div>
										</div>
										<div class="row">
											<div class="col-sm-5 d-flex col-sm-offset-1" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Google' />
											</div>
										
											<div class="col-sm-5 d-flex" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Outlook' />
											</div>
										</div>
										
		                            </div>


									<div class="tab-pane" id="register">
		                                <div class="row">
											<div class="col-sm-10 d-flex col-sm-offset-1">
								
												<div class="form-group">
													<label>Correo Electrónico <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Por ejemplo: pepe@gmail.com" required>
												</div>

												<div class="form-group">
													<label>Contraseña <small>(required)</small></label>
													<input name="firstname" type="text" class="form-control" placeholder="Contraseña" required>
												</div>
				
											</div>
									
										</div>
										<div class="row" style="margin-top: 20px;">
											<div class="col-sm-10 d-flex col-sm-offset-1">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Registrar' />
											</div>
										</div>
										<div class="row">
											<div class="col-sm-5 d-flex col-sm-offset-1" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Google' />
											</div>
										
											<div class="col-sm-5 d-flex" style="margin-top: 20px;">
												<input style="width: 100%;" type='button' class='btn btn-fill btn-warning btn-wd' name='' value='Outlook' />
											</div>
										</div>
		                     
		                        	</div>
								</div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div><!-- end row -->
		</div> <!--  big container -->
	</div>

</body>

	<!-- Core JS Files -->
	<script th:src="@{/js/jquery-2.2.4.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery.bootstrap.wizard.js}" type="text/javascript"></script>

	<!-- Plugin for the Wizard -->
	<script th:src="@{/js/demo.js}" type="text/javascript"></script>
	<script th:src="@{/js/paper-bootstrap-wizard.js}" type="text/javascript"></script>

	<!-- More information about jquery.validate here: https://jqueryvalidation.org/ -->
	<script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>

	<!-- SCRIPTS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- Toastify js -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="" th:src="@{js/main.js}" type="module"></script>


</html>
